
/*定义变量*/
@charset "utf-8";

/*color*/
$graybgf6:#f6f6f6;
$graybgf8:#f8f8f8;
$graybgf9:#f9f9f9;
$graybg85:#858585;
$graybg :#f5f5f5;
$graybgddd :#ddd;
$colore5 :#e5e5e5;
$white:#fff!default;
$colorccc:#ccc!default;
$color333:#333!default;
$color666:#666!default;
$color999:#999!default;
$colorf03:#f03!default;
$colorOrange:#ff6600;
$c_blue:#0066ff;
$c_blue2:#edfafd;
$c_blue3:#3388ff;
$c_blue4:#bfe0fc;
$c_green:#009900;

$c_yellow:#fefaf4;



// mvs begin
$c_blue1: rgba(157, 170, 210, 1);
$c_blue3: rgba(157, 170, 210, .3);
$c_blue5: rgba(157, 170, 210, .5);
$c_blue6: rgba(157, 170, 210, .6);
$c_blue7: rgba(157, 170, 210, .7);
$c_blue8: rgba(157, 170, 210, .8);

$c_blue9: rgba(4, 13, 47, .9);

$color_blue: #040D2F;
$color_blue2: #041036;



$color_blue_bg: #05123D;



// opacity: 0.9;
// background: #040D2F;

$c_blueDemo: rgba(80, 89, 119, .6);


$c_blueDeep1: #08123a;
$c_blueDeep2: #061034;



/*screen width*/
$screenWidth:1200px!default;


/*url*/
$url:'../images/'!default;
